<h3>Create Manager</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="managersaveform"  (ngSubmit)="savemanager(savemanager)">
          <div class="form-group">
              <label for="name">Manager First Name</label>
              <input type="text" class="form-control"  formControlName="manager_firstname" data-toggle="tooltip" 
                 data-placement="right" title="Enter Manager First Name" >
          </div>
  
          <div class="form-group">
            <label for="name">Manager Middle Name</label>
            <input type="text" class="form-control"  formControlName="manager_middlename" data-toggle="tooltip" 
               data-placement="right" title="Enter Manager Middle Name" >
        </div>
        <div class="form-group">
          <label for="name">Manager Last Name</label>
          <input type="text" class="form-control"  formControlName="manager_lastname" data-toggle="tooltip" 
             data-placement="right" title="Enter Manager Last Name" >
      </div>

          <div class="form-group">
              <label for="name">Manager ArbeitsBeginn</label>
              <input type="date" class="form-control" formControlName="manager_ArbeitsBeginn" 
                data-toggle="tooltip" data-placement="right" title="Enter Manager ArbeitsBeginn">
          </div>
  
          <div class="form-group">
            <label for="name">Manager steuerNummer</label>
            <input type="text" class="form-control" formControlName="manager_SteuerNummer" 
              data-toggle="tooltip" data-placement="right" title="Enter Manager SteuerNummer">
        </div>
        <div class="form-group">
            <label for="name">Manager Auto</label>
            <input type="text" class="form-control" formControlName="manager_Auto" 
              data-toggle="tooltip" data-placement="right" title="Enter Manager Auto">
        </div>

        <div class="form-group">
          <label for="name">Manager Stunde</label>
          <input type="text" class="form-control" formControlName="manager_Tel" 
            data-toggle="tooltip" data-placement="right" title="Enter Manager Stunde">
      </div>
      <div class="form-group">
        <label for="name">Manager Gehalt</label>
        <input type="number" class="form-control" formControlName="manager_Gehalt" 
          data-toggle="tooltip" data-placement="right" title="Enter Manager Gehalt">
    </div>
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Manager Added SuccessFully!</h4>
         <button (click)="addmanagerForm()" class='btn btn-primary'>Add More Manager</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


