<h3>Create Mitarbeiter</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="mitarbeitersaveform" #savemitarbeiter (ngSubmit)="saveMitarbeiter(saveMitarbeiter)">
          
  
          <div class="form-group">
              <label for="name">Mitarbeiter FirstName</label>
              <input type="text" class="form-control" formControlName="mitarbeiter_firstname" 
                data-toggle="tooltip" data-placement="right" title="Enter Mitarbeiter FirstName">
          </div>
          <div class="form-group">
              <label for="name">Mitarbeiter MiddleName</label>
              <input type="text" class="form-control" formControlName="mitarbeiter_middlename" 
                data-toggle="tooltip" data-placement="right" title="Enter Mitarbeiter MiddleName">
          </div>
          <div class="form-group">
              <label for="name">Mitarbeiter LastName</label>
              <input type="text" class="form-control" formControlName="mitarbeiter_lastname" 
                data-toggle="tooltip" data-placement="right" title="Enter Mitarbeiter LastName">
          </div>
          <div class="form-group">
              <label for="name">Mitarbeiter steuerNummer</label>
              <input type="text" class="form-control" formControlName="mitarbeiter_steuerNummer" 
                data-toggle="tooltip" data-placement="right" title="Enter Mitarbeiter SteuerNummer">
          </div>
          <div class="form-group">
              <label for="name">Mitarbeiter arbeitsBeginn</label>
              <input type="date" class="input-group-text" formControlName="mitarbeiter_arbeitsBeginn" 
                data-toggle="tooltip" data-placement="right" title="Enter Mitarbeiter arbeitsBeginn">
          </div>
  
  
          <div class="form-group">
              <label for="branch">Mitarbeiter Typus</label>
                <select class="form-control" formControlName="mitarbeiter_branch" data-toggle="tooltip" 
                      data-placement="right" title="Select Mitarbeiter Type">
                    <option value="null">--Select Type--</option>
                  <option value="Angestellter">Angestellter</option>
                  <option value="Mitarbeiter">Mitarbeiter</option>
                  <option value="Freiberufler">Freiberufler</option>
                  <option value="Manager">Manager</option>
                </select>
          </div>
  
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Mitarbeiter Added SuccessFully!</h4>
         <button (click)="addMitarbeiterForm()" class='btn btn-primary'>Add More Mitarbeiter</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


