<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">freiberuflers</h1>
        <button type="button" class="btn btn-info add-new" routerLink="/add-freiberufler"><i class="fa fa-plus"></i> Add New</button>
        <button type="button" class="btn btn-info add-new" (click)="exportexcel()"><i></i> Export freiberuflers</button>

        <br>
        <div class="row" [hidden]="!deleteMessage">
             
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>freiberufler Data Deleted</strong>
                          </div>
                  </div>
                  <div class="col-sm-4"></div>
          </div>           
      </div>
  
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" id="freiberuflers">
            <thead class="thead-light">
                <tr>
                    <th>vorName</th>
                          <th>mittelName</th>
                          <th>nachName</th>
                          <th>Datum</th>
                          <th>steuerNummer</th>
                          <th>Stunde</th>
                          <th>StdSatz</th>
                          <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let freiberufler of freiberuflers ">
                    <td>{{freiberufler.firstname}}</td>
                    <td>{{freiberufler.middlename}}</td>
                    <td>{{freiberufler.lastname}}</td>
                    <td>{{freiberufler.arbeitsBeginn}}</td>
                    <td>{{freiberufler.steuerNummer}}</td>
                    <td>{{freiberufler.stunde}}</td>
                    <td>{{freiberufler.stdSatz}}</td>
  
                    <td><button (click)="deleteFreiberufler(freiberufler.freiberufler_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                      <button (click)="updatefreiberufler(freiberufler.freiberufler_id)" class='btn btn-info'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div> 
  
  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="freiberuflerupdateform" #updstu (ngSubmit)="updateStu(updstu)">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update freiberufler</h4>
                
              </div>
              
              <!-- Modal body -->
              <div class="modal-body" *ngFor="let freiberufler of freiberuflers " >
                  <div [hidden]="isupdated">
  
                      <input type="hidden" class="form-control"  formControlName="freiberufler_id" [(ngModel)]="freiberufler.freiberufler_id">
                              <div class="form-group">
                                  <label for="name">freiberufler First Name</label>
                                  <input type="text" class="form-control"  formControlName="freiberufler_firstname" [(ngModel)]="freiberufler.firstname"  >
                              </div>
                      
                              <div class="form-group">
                                  <label for="name">freiberufler Middle Name</label>
                                  <input type="text" class="form-control" formControlName="freiberufler_middlename" [(ngModel)]="freiberufler.middlename">
                              </div>
                              <div class="form-group">
                                <label for="name">freiberufler Last Name</label>
                                <input type="text" class="form-control" formControlName="freiberufler_lastname" [(ngModel)]="freiberufler.lastname">
                            </div>
                            <div class="form-group">
                              <label for="name">freiberufler ArbeitsBeginn</label>
                              <input type="date" class="form-control" formControlName="freiberufler_ArbeitsBeginn" [(ngModel)]="freiberufler.arbeitsBeginn">
                          </div>
                          <div class="form-group">
                            <label for="name">freiberufler SteuerNummer</label>
                            <input type="text" class="form-control" formControlName="freiberufler_SteuerNummer" [(ngModel)]="freiberufler.steuerNummer">
                        </div>
                        <div class="form-group">
                          <label for="number">freiberufler StdSatz</label>
                          <input type="text" class="form-control" formControlName="freiberufler_StdSatz" [(ngModel)]="freiberufler.stdSatz">
                      </div> 
                      <div class="form-group">
                        <label for="number">freiberufler Stunde</label>
                        <input type="text" class="form-control" formControlName="freiberufler_Stunde" [(ngModel)]="freiberufler.stunde">
                    </div>    
                    </div>  
                    <div [hidden]="!isupdated">
                        <h4>freiberufler Detail Updated!</h4>
                    </div>        
                      
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>
              
          </form>
            </div>
          </div>
        </div>