<h3>Create Department</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="departmentsaveform" #savedepartment (ngSubmit)="saveDepartment(saveDepartment)">
        <div class="form-group">
              <label for="name">Department Name</label>
              <input type="text" class="form-control"  formControlName="department_name" data-toggle="tooltip" 
                 data-placement="right" title="Enter Department First Name" >
          </div>
  
          <div class="form-group">
            <label for="name">Department Manager</label>
            <input type="text" class="form-control"  formControlName="department_manager" data-toggle="tooltip" 
               data-placement="right" title="Enter Department Middle Name" >
        </div>
        
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Department Added SuccessFully!</h4>
         <button (click)="addDepartmentForm()" class='btn btn-primary'>Add More Department</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


