<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Angestellters</h1>
        <button type="button" class="btn btn-info add-new" routerLink="/add-angestellter"><i class="fa fa-plus"></i> Add New</button>
        <button type="button" class="btn btn-info add-new" (click)="exportexcel()"><i></i> Export Angestellters</button>

        <br>
        <div class="row" [hidden]="!deleteMessage">
             
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>Angestellter Data Deleted</strong>
                          </div>
                  </div>
                  <div class="col-sm-4"></div>
          </div>           
      </div>
  
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" id="angestellters" >
            <thead class="thead-light">
                <tr>
                    <th>vorName</th>
                          <th>mittelName</th>
                          <th>nachName</th>
                          <th>Datum</th>
                          <th>steuerNummer</th>
                          <th>Gehalt</th>
                          <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let angestellter of angestellters ">
                    <td>{{angestellter.firstname}}</td>
                    <td>{{angestellter.middlename}}</td>
                    <td>{{angestellter.lastname}}</td>
                    <td>{{angestellter.arbeitsBeginn}}</td>
                    <td>{{angestellter.steuerNummer}}</td>
                    <td>{{angestellter.gehalt}}</td>

  
                    <td><button (click)="deleteAngestellter(angestellter.angestellter_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                      <button (click)="updateAngestellter(angestellter.angestellter_id)" class='btn btn-info'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div> 
  
  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="angestellterupdateform" #updstu (ngSubmit)="updateStu(updstu)">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update Angestellter</h4>
                
              </div>
              
              <!-- Modal body -->
              <div class="modal-body" *ngFor="let angestellter of angestellters " >
                  <div [hidden]="isupdated">
  
                      <input type="hidden" class="form-control"  formControlName="angestellter_id" [(ngModel)]="angestellter.angestellter_id">
                              <div class="form-group">
                                  <label for="name">Angestellter First Name</label>
                                  <input type="text" class="form-control"  formControlName="angestellter_firstname" [(ngModel)]="angestellter.firstname"  >
                              </div>
                      
                              <div class="form-group">
                                  <label for="name">Angestellter Middle Name</label>
                                  <input type="text" class="form-control" formControlName="angestellter_middlename" [(ngModel)]="angestellter.middlename">
                              </div>
                              <div class="form-group">
                                <label for="name">Angestellter Last Name</label>
                                <input type="text" class="form-control" formControlName="angestellter_lastname" [(ngModel)]="angestellter.lastname">
                            </div>
                            <div class="form-group">
                              <label for="name">Angestellter ArbeitsBeginn</label>
                              <input type="text" class="form-control" formControlName="angestellter_ArbeitsBeginn" [(ngModel)]="angestellter.arbeitsBeginn">
                          </div>
                          <div class="form-group">
                            <label for="name">Angestellter SteuerNummer</label>
                            <input type="text" class="form-control" formControlName="angestellter_SteuerNummer" [(ngModel)]="angestellter.steuerNummer">
                        </div>
                        <div class="form-group">
                          <label for="name">Angestellter Gehalt</label>
                          <input type="text" class="form-control" formControlName="angestellter_Gehalt" [(ngModel)]="angestellter.gehalt">
                      </div>    
                    </div>  
                    <div [hidden]="!isupdated">
                        <h4>Angestellter Detail Updated!</h4>
                    </div>        
                      
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>
              
          </form>
            </div>
          </div>
        </div>