<h3>Create Freiberufler</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="freiberuflersaveform" #savefreiberufler (ngSubmit)="saveFreiberufler(saveFreiberufler)">
          <div class="form-group">
              <label for="name">Freiberufler First Name</label>
              <input type="text" class="form-control"  formControlName="freiberufler_firstname" data-toggle="tooltip" 
                 data-placement="right" title="Enter Freiberufler First Name" >
          </div>
  
          <div class="form-group">
            <label for="name">Freiberufler Middle Name</label>
            <input type="text" class="form-control"  formControlName="freiberufler_middlename" data-toggle="tooltip" 
               data-placement="right" title="Enter Freiberufler Middle Name" >
        </div>
        <div class="form-group">
          <label for="name">Freiberufler Last Name</label>
          <input type="text" class="form-control"  formControlName="freiberufler_lastname" data-toggle="tooltip" 
             data-placement="right" title="Enter Freiberufler Last Name" >
      </div>

          <div class="form-group">
              <label for="name">Freiberufler ArbeitsBeginn</label>
              <input type="date" class="form-control" formControlName="freiberufler_ArbeitsBeginn" 
                data-toggle="tooltip" data-placement="right" title="Enter Freiberufler ArbeitsBeginn">
          </div>
  
          <div class="form-group">
            <label for="name">Freiberufler steuerNummer</label>
            <input type="text" class="form-control" formControlName="freiberufler_SteuerNummer" 
              data-toggle="tooltip" data-placement="right" title="Enter Freiberufler SteuerNummer">
        </div>
        <div class="form-group">
            <label for="name">Freiberufler StdSatz</label>
            <input type="number" class="input-group-text" formControlName="freiberufler_StdSatz" 
              data-toggle="tooltip" data-placement="right" title="Enter Freiberufler StdSatz">
        </div>

        <div class="form-group">
          <label for="name">Freiberufler Stunde</label>
          <input type="number" class="input-group-text" formControlName="freiberufler_Stunde" 
            data-toggle="tooltip" data-placement="right" title="Enter Freiberufler Stunde">
      </div>
      
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Freiberufler Added SuccessFully!</h4>
         <button (click)="addFreiberuflerForm()" class='btn btn-primary'>Add More Freiberufler</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


