<h3>Create Angestellter</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="angestelltersaveform" #saveangestellter (ngSubmit)="saveAngestellter(saveAngestellter)">
        <div class="form-group">
              <label for="name">Angestellter First Name</label>
              <input type="text" class="form-control"  formControlName="angestellter_firstname" data-toggle="tooltip" 
                 data-placement="right" title="Enter Angestellter First Name" >
          </div>
  
          <div class="form-group">
            <label for="name">Angestellter Middle Name</label>
            <input type="text" class="form-control"  formControlName="angestellter_middlename" data-toggle="tooltip" 
               data-placement="right" title="Enter Angestellter Middle Name" >
        </div>
        <div class="form-group">
          <label for="name">Angestellter Last Name</label>
          <input type="text" class="form-control"  formControlName="angestellter_lastname" data-toggle="tooltip" 
             data-placement="right" title="Enter Angestellter Last Name" >
      </div>

          <div class="form-group">
              <label for="name">Angestellter ArbeitsBeginn</label>
              <input type="date" class="form-control" formControlName="angestellter_ArbeitsBeginn" 
                data-toggle="tooltip" data-placement="right" title="Enter Angestellter ArbeitsBeginn">
          </div>
  
          <div class="form-group">
            <label for="name">Angestellter steuerNummer</label>
            <input type="text" class="form-control" formControlName="angestellter_SteuerNummer" 
              data-toggle="tooltip" data-placement="right" title="Enter Angestellter SteuerNummer">
        </div>
        <div class="form-group">
            <label for="name">Angestellter Gehalt</label>
            <input type="number" class="form-control" formControlName="angestellter_Gehalt" 
              data-toggle="tooltip" data-placement="right" title="Enter Angestellter Gehalt">
        </div>
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Angestellter Added SuccessFully!</h4>
         <button (click)="addangestellterForm()" class='btn btn-primary'>Add More Angestellter</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


