<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Mitarbeiters</h1>
        <button type="button" class="btn btn-info add-new" routerLink="/add-mitarbeiter"><i class="fa fa-plus"></i> Add New</button>
        <button type="button" class="btn btn-info add-new" (click)="exportexcel()"><i></i> Export Mitarbeiters</button>

        <br>
        <div class="row" [hidden]="!deleteMessage">
             
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>Mitarbeiter Data Deleted</strong>
                          </div>
                  </div>
                  <div class="col-sm-4"></div>
          </div>           
      </div>
  
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"  id="mitarbeiters">
            <thead class="thead-light">
                <tr>
                    <th>vorName</th>
                          <th>mittelName</th>
                          <th>nachName</th>
                          <th>Datum(mm/tt/jjjj)</th>
                          <th>steuerNummer</th>
                          <th>Typus</th>
                          <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let mitarbeiter of mitarbeiters ">
                    <td>{{mitarbeiter.firstname}}</td>
                    <td>{{mitarbeiter.middlename}}</td>
                    <td>{{mitarbeiter.lastname}}</td>
                    <td>{{mitarbeiter.arbeitsBeginn}}</td>
                    <td>{{mitarbeiter.steuerNummer}}</td>
                    <td>{{mitarbeiter.typus}}</td>

  
                    <td><button (click)="deleteMitarbeiter(mitarbeiter.mitarbeiter_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                      <button (click)="updateMitarbeiter(mitarbeiter.mitarbeiter_id)" class='btn btn-info'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div> 
  
  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="mitarbeiterupdateform" #updstu (ngSubmit)="updateStu(updstu)">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update Mitarbeiter</h4>
                
              </div>
              
              <!-- Modal body -->
              <div class="modal-body" *ngFor="let mitarbeiter of mitarbeiters " >
                  <div [hidden]="isupdated">
  
                      <input type="hidden" class="form-control"  formControlName="mitarbeiter_id" [(ngModel)]="mitarbeiter.mitarbeiter_id">
                              <div class="form-group">
                                  <label for="name">Mitarbeiter First Name</label>
                                  <input type="text" class="form-control"  formControlName="mitarbeiter_firstname" [(ngModel)]="mitarbeiter.firstname"  >
                              </div>
                      
                              <div class="form-group">
                                  <label for="name">Mitarbeiter Middle Name</label>
                                  <input type="text" class="form-control" formControlName="mitarbeiter_middlename" [(ngModel)]="mitarbeiter.middlename">
                              </div>
                              <div class="form-group">
                                <label for="name">Mitarbeiter Last Name</label>
                                <input type="text" class="form-control" formControlName="mitarbeiter_lastname" [(ngModel)]="mitarbeiter.lastname">
                            </div>
                            <div class="form-group">
                              <label for="name">Mitarbeiter ArbeitsBeginn</label>
                              <input type="date" class="form-control" formControlName="mitarbeiter_ArbeitsBeginn" [(ngModel)]="mitarbeiter.arbeitsBeginn">
                          </div>
                          <div class="form-group">
                            <label for="name">Mitarbeiter SteuerNummer</label>
                            <input type="text" class="form-control" formControlName="mitarbeiter_SteuerNummer" [(ngModel)]="mitarbeiter.steuerNummer">
                        </div>
                        <div class="form-group">
                          <label for="name">Mitarbeiter Typus</label>
                          <input type="text" class="form-control" formControlName="mitarbeiter_typus" [(ngModel)]="mitarbeiter.typus">
                      </div>
                    </div>  
                    <div [hidden]="!isupdated">
                        <h4>Mitarbeiter Detail Updated!</h4>
                    </div>        
                      
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>
              
          </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 style="text-align: center">Departments</h1>
                <button type="button" class="btn btn-info add-new" routerLink="/add-department"><i class="fa fa-plus"></i> Add New</button>
                <button type="button" class="btn btn-info add-new" (click)="exportexcel()"><i></i> Export Departments</button>
        
                <br>
                <div class="row" [hidden]="!deleteMessage">
                     
                          <div class="col-sm-4"></div>
                          <div class="col-sm-4">
                                  <div class="alert alert-info alert-dismissible">
                                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                                          <strong>Department Data Deleted</strong>
                                  </div>
                          </div>
                          <div class="col-sm-4"></div>
                  </div>           
              </div>
          
            
            <div class="panel-body">
                <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"  >
                    <thead class="thead-light" id="departments">
                        <tr>
                                  <th>Department Name</th>
                                  <th>Department Manager</th>
             
                                  <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let department of departments ">
                            <td>{{department.dep_name}}</td>
                            <td>{{department.dep_manager}}</td>
        
          
                            <td><button (click)="deleteDepartment(department.department_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                              <button (click)="updateDepartment(department.department_id)" class='btn btn-info'
                              data-toggle="modal" data-target="#myModaldep">Update</button>
                            </td>
                          </tr> 
                    </tbody><br>
                </table>
            </div>
          </div> 
          
          <div class="modal" id="myModaldep">
                  <div class="modal-dialog">
                    <div class="modal-content">
                          <form [formGroup]="departmentupdateform" #updstu (ngSubmit)="updateDept(updDept)">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center">Update Department</h4>
                        
                      </div>
                      
                      <!-- Modal body -->
                      <div class="modal-body" *ngFor="let department of departments " >
                          <div [hidden]="isupdated">
          
                              <input type="hidden" class="form-control"  formControlName="department_id" [(ngModel)]="department.department_id">
                                      <div class="form-group">
                                          <label for="name">Department Name</label>
                                          <input type="text" class="form-control"  formControlName="department_dep_name" [(ngModel)]="department.dep_name"  >
                                      </div>
                              
                                      <div class="form-group">
                                          <label for="name">Department Manager</label>
                                          <input type="text" class="form-control" formControlName="department_dep_manager" [(ngModel)]="department.dep_manager">
                                      </div>
                            </div>  
                            <div [hidden]="!isupdated">
                                <h4>Department Detail Updated!</h4>
                            </div>        
                              
                      </div>
                      
                      <!-- Modal footer -->
                      <div class="modal-footer" >
                        <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdatedept()">Close</button>
                      </div>
                      
                  </form>
                    </div>
                  </div>
                </div>