<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Managers</h1>
        <button type="button" class="btn btn-info add-new" routerLink="/add-manager"><i class="fa fa-plus"></i> Add New</button>
        <button type="button" class="btn btn-info add-new" (click)="exportexcel()"><i></i> Export Managers</button>

        <br>
        <div class="row" [hidden]="!deleteMessage">
             
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>Manager Data Deleted</strong>
                          </div>
                  </div>
                  <div class="col-sm-4"></div>
          </div>           
      </div>
  
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" id="managers" >
            <thead class="thead-light">
                <tr>
                    <th>vorName</th>
                          <th>mittelName</th>
                          <th>nachName</th>
                          <th>Datum</th>
                          <th>steuerNummer</th>
                          <th>Gehalt</th>
                          <th>Auto</th>
                          <th>Telefon</th>
                          <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let manager of managers ">
                    <td>{{manager.firstname}}</td>
                    <td>{{manager.middlename}}</td>
                    <td>{{manager.lastname}}</td>
                    <td>{{manager.arbeitsBeginn}}</td>
                    <td>{{manager.steuerNummer}}</td>
                    <td>{{manager.gehalt}}</td>
                    <td>{{manager.tel}}</td>
                    <td>{{manager.auto}}</td>
  
                    <td><button (click)="deleteManager(manager.manager_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                      <button (click)="updateManager(manager.manager_id)" class='btn btn-info'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div> 
  
  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="managerupdateform" #updstu (ngSubmit)="updateStu(updstu)">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update Manager</h4>
                
              </div>
              
              <!-- Modal body -->
              <div class="modal-body" *ngFor="let manager of managers " >
                  <div [hidden]="isupdated">
  
                      <input type="hidden" class="form-control"  formControlName="manager_id" [(ngModel)]="manager.manager_id">
                              <div class="form-group">
                                  <label for="name">Manager First Name</label>
                                  <input type="text" class="form-control"  formControlName="manager_firstname" [(ngModel)]="manager.manager_firstname"  >
                              </div>
                      
                              <div class="form-group">
                                  <label for="name">Manager Middle Name</label>
                                  <input type="text" class="form-control" formControlName="manager_middlename" [(ngModel)]="manager.middlename">
                              </div>
                              <div class="form-group">
                                <label for="name">Manager Last Name</label>
                                <input type="text" class="form-control" formControlName="manager_lastname" [(ngModel)]="manager.manager_lastname">
                            </div>
                            <div class="form-group">
                              <label for="name">Manager ArbeitsBeginn</label>
                              <input type="date" class="form-control" formControlName="manager_ArbeitsBeginn" [(ngModel)]="manager.manager_arbeitsBeginn">
                          </div>
                          <div class="form-group">
                            <label for="name">Manager SteuerNummer</label>
                            <input type="text" class="form-control" formControlName="manager_SteuerNummer" [(ngModel)]="manager.manager_SteuerNummer">
                        </div>
                        <div class="form-group">
                          <label for="name">Manager Gehalt</label>
                          <input type="text" class="form-control" formControlName="manager_Gehalt" [(ngModel)]="manager.manager_gehalt">
                      </div>
                      <div class="form-group">
                        <label for="name">Manager Tel</label>
                        <input type="text" class="form-control" formControlName="manager_Tel" [(ngModel)]="manager.manager_tel">
                    </div> 
                      <div class="form-group">
                        <label for="name">Manager Auto</label>
                        <input type="text" class="form-control" formControlName="manager_Auto" [(ngModel)]="manager.manager_auto">
                    </div>     
                    
                    </div>  
                    <div [hidden]="!isupdated">
                        <h4>Manager Detail Updated!</h4>
                    </div>        
                      
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>
              
          </form>
            </div>
          </div>
        </div>